.Footer {
    margin-top: auto;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color: #2c1810;
}

.MapBlock {
    display: flex;
    margin-block: 16px;
    align-items: center;
}

.MapBlock .adress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MapBlock a {
    color: #796157;
}
.MapBlock img {
    margin-right: 16px;
}

@media all and (max-width: 600px) {
    .Footer {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
    }
}
