.Header {
    font-family: "Libre Baskerville", serif;
    background-color: #ffffff;
    min-height: 91px;
    display: flex;
    align-items: center;
}

.Header div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    width: 250px;
    margin-left: 20px;
}

.Header p {
    font-size: 20px;
}

.Header ul {
    display: flex;
    margin-right: 20px;
}

.Header ul li {
    padding-inline: 20px;
    list-style-type: none;
    font-size: 14px;
}

.Header ul li :hover {
    color: #d9a963;
    transition: color 0.3s ease-in-out;
}

.Header ul li a {
    text-decoration: none;
    color: black;
}

.Header a.activeLink {
    font-weight: bold;
}

@media all and (max-width: 600px) {
    .Header div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .Header img {
        margin-top: 20px;
        width: 50%;
        padding-left: 20px;
    }

    .Header ul li {
        padding-block: 20px;
    }

    .logo {
        margin-left: 0px;
    }
    .Header ul {
        margin-right: 0px;
    }
}
